<header class="site-header">
  <div class="wrapper nav-wrapper">
    <a class="site-title site-title-with-logo" href="{{ '/' | relative_url }}">
      <img
        src="{{ '/assets/logo.png' | relative_url }}"
        alt="OS-Question logo"
        class="site-logo"
      />
      <span class="site-title-text">OS-Question</span>
    </a>

    <nav class="site-nav">
      
      <a href="{{ '/questions/' | relative_url }}">Questions</a>
      <a href="{{ '/notes/' | relative_url }}">Notes</a>
      <a href="{{ '/explorations/' | relative_url }}">Explorations</a>
      <a href="{{ '/about/' | relative_url }}">About</a>
    </nav>
  </div>
</header>

